{{#if success_massage}}

    <div class="alert alert-success">
        {{success_massage}}
    </div>

{{/if}}




{{#if delete_massage}}

    <div class="alert alert-success">
        {{delete_massage}}
    </div>

{{/if}}



{{#if update_massage}}

    <div class="alert alert-success">
        {{update_massage}}
    </div>

{{/if}}


{{#if success_register}}
    <div class="alert alert-success">
        {{success_register}}
    </div>
{{/if}}


{{#if not_matched_passwords}}
    <div class="alert alert-success">
        {{not_matched_passwords}}
    </div>
{{/if}}


{{#if already_user}}
    <div class="alert alert-danger">
        {{already_user}}
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger">
        {{error}}
    </div>
{{/if}}